:root{
    --cor-primaria: #0d6efd;
    --cor-fundo: #f8f9fa;
    --cor-texto: #212529;
    --cor-borda: #dee2e6;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}   

main{
    flex: 1;
}

.card {
    border-color: var(--cor-borda);
}